/*
Global Attributes
*/
body {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rokkitt', serif;  
}

/*
Navigation Bar
*/
nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 5%;
    background-color: #3D5B69;
    padding-bottom: 10px;
}

nav a {
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover{
    color: #6FABC8;
}

nav a:active{
    color: #23688A;
}

/*
Main Content Attributes
*/
.main-content {
    margin: 5% 20%;
    font-size: 1.1em;
}

.main-content h1 {
    text-align: center;
}

/*
Pioneers Content
*/


.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 45%;
    margin: 1em .5em;
}

.card h4 {
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    height: 275px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    filter: grayscale(100%); 
    -webkit-filter: grayscale(100%);
}

.container {
    padding: 2px 16px;
}

/*
HTTP Content
*/
.http-img {
    display: block;
    margin: 0 auto;
}




/*
Terminology Content
*/

.term-cont {
    display: flex;
}

.container-term {
    padding: 2px 16px;
    min-height: 150px;
}


/*
Footer Content 
*/
footer {
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #3D5B69;
    text-align: center;
    box-shadow: 0px 250px 0px 250px #3D5B69;
}

footer a {
    color: white;
    margin: 3em 1em;
}

i {
    margin-top: 10px;
}

i:hover {
    color: #6FABC8;
}

i:active {
    color: #23688A;

}

/* 
Reference Content
*/

.long-card {
    padding: 5px 10px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 100%;
    margin: 1.2em .5em;
}

.long-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}




@media (max-width: 768px){
    .main-content{ 
        margin: 5% 8%;
    }
    
    
    nav {
        position: relative;
        width: 100%;
    }
    
    nav a {
        display: inline-block;
        font-size: 1em;
    }
    
    .card {
        display: block;
        width: 90%;
    }
    
    .http-img {
        height: 100%;
        width: 100%;
    }
    
    .fit {
        width: 100%;
    }
    
    h1 {
        margin-top: 10%;
    }
    
    .long-card {
        margin: 1.2em .05em;   
    }
}

@media (max-width: 1024px){
    h1 {
        margin-top: 10%;
    }
    
}

